external/VSS.BSS/UnitTests/Common.UnitTests/Test Data/Schema/v1/ServiceMeterLocation_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.cat.com/em/feed/v1/ServiceMeterLocation"
	xmlns:smuLoc="http://www.cat.com/em/feed/v1/ServiceMeterLocation"
	xmlns:feed="http://www.cat.com/em/feed/v1/CommonFeed"
	elementFormDefault="unqualified"
	xmlns:pref="http://www.cat.com/em/feed/v1/CommonFeed">

	<import namespace="http://www.cat.com/em/feed/v1/CommonFeed" schemaLocation="CommonSchema_v1.xsd"></import>
	<complexType name="Message">
		<annotation>
			<documentation>
				Delivers the equipment usage by hours since PLM is turned on or was last reset in addition to  the latitude and longitude of the machine on which the PLM is mounted.
				This topic will soon be deprecated.  Please unsubscribe to this topic and subscribe to v2 SMULOC.  SMULOC V2 does contain interface
				changes that may cause code subscribing to V1 to break.  Clients should experiment with SMULOC V2 data in the
				TESTQUEUE prior to changing queue subscriptions.	
			</documentation>
		</annotation>
		<sequence>
			<element name="header" type="feed:TopicHeader" minOccurs="1" maxOccurs="1" />
			<element name="serviceMeter" type="feed:ServiceMeter" minOccurs="0" maxOccurs="1" />
			<element name="location" type="feed:Location" minOccurs="0" maxOccurs="1" />

		</sequence>
	</complexType>


	<element name="topic" type="smuLoc:TopicBlock">
		<annotation>
			<documentation>
				The root node for the SMU Location topic.
			</documentation>
		</annotation>
	</element>

	<complexType name="TopicBlock">
		<sequence>
            <element name="nextBuffer" type="anyURI"></element>
            <element name="message" type="smuLoc:Message" minOccurs="0" maxOccurs="unbounded" />		</sequence>
	</complexType>


</schema>