external/VSS.BSS/UnitTests/Common.UnitTests/Test Data/Schema/v2/CommonSchema_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.cat.com/em/feed/v2/CommonFeed"
	xmlns:feed="http://www.cat.com/em/feed/v2/CommonFeed"
	elementFormDefault="unqualified">

	<simpleType name="YesNo">
		<annotation>
			<documentation>
				Enumeration for data type that can only contain a 'Y' or
				an 'N'.
			</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Y"></enumeration>
			<enumeration value="N"></enumeration>
			<maxLength value="1"></maxLength>
			<minLength value="1"></minLength>
		</restriction>
	</simpleType>

	<simpleType name="UnitOfMeasure">
		<annotation>
			<documentation>
				Unit of measure for an element. Example values would be
				gallons, hours etc...
			</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Hours"></enumeration>
			<enumeration value="Percentage"></enumeration>
			<enumeration value="Count"></enumeration>
			<enumeration value="Gallons"></enumeration>
			<maxLength value="25"></maxLength>
			<minLength value="1"></minLength>
		</restriction>
	</simpleType>

	<complexType name="ServiceMeter">
		<annotation>
			<documentation>
				The operational hours on the equipment at the time this
				message was sent.
			</documentation>
		</annotation>
		<sequence>
			<element name="value" type="long" minOccurs="1"
				maxOccurs="1" />
			<element name="uom" type="feed:UnitOfMeasure" minOccurs="1"
				maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="Location">
		<annotation>
			<documentation>
				The GPS coordinate of the equipment at the time of
				message send. The latitude and longitude are in WGS 84
				format.
			</documentation>
		</annotation>
		<sequence>
			<element name="latitude" type="double" minOccurs="1"
				maxOccurs="1" />
			<element name="longitude" type="double" minOccurs="1"
				maxOccurs="1" />

			<element name="validity" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="I"></enumeration>
						<enumeration value="V"></enumeration>
						<length value="1"></length>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>

	<complexType name="Equipment">
		<annotation>
			<documentation>
				Equipment on which the Telematics device that sent this
				message was deployed.
			</documentation>
		</annotation>
		<sequence>
			<element name="serialNumber" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						Equipment serial number.
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="20"></maxLength>
						<minLength value="1"></minLength>
					</restriction>
				</simpleType>
			</element>
			<element name="make" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						Equipment make (e.g. CAT)
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<length value="3" />
					</restriction>
				</simpleType>
			</element>
			<element name="model" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Equipment model.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="50"></maxLength>
						<minLength value="1"></minLength>
					</restriction>
				</simpleType>
			</element>
			<element name="nickname" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Equipment nickname.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="50"></maxLength>
						<minLength value="1"></minLength>
					</restriction>
				</simpleType>
			</element>
			
		</sequence>
	</complexType>

	<complexType name="TopicHeader">
		<annotation>
			<documentation>
				This message header contains all the data common to all
				feed topics.
			</documentation>
		</annotation>
		<sequence>
			<element name="messageId" type="long" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>
						The unique message id assigned to the device
						message by the EM feed. This unique id should be
						utilized by a feed client for duplicate message
						delivery detection.
					</documentation>
				</annotation>
			</element>
			<element name="masterMsgId" type="long" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>
						The unique message id assigned to the parent
						message. The data feed allows for multiple feed
						messages to be broken out of a single device
						message.

						For example a Location can be extracted from an
						Event device message and delivered to the client
						subscribing to the SMU Location feed. The event
						data itself may be delivered as a separate
						message delivered to an Event feed subscriber.

						This id can be used to correlate feed messages
						that have been extracted from a single device
						message.
					</documentation>
				</annotation>
			</element>
			<element name="equipment" type="feed:Equipment"
				minOccurs="1" maxOccurs="1" />
			<element name="moduleCode" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						The unique identifier for the Telematics device
						having sent this message.
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="20"></maxLength>
						<minLength value="1"></minLength>
					</restriction>
				</simpleType>
			</element>
			<element name="moduleTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						The date and time with which the device stamped
						the message prior to message send.

						This date is in international date format (see
						ISO standard 8601) as follows:

						yyyy-MM-dd HH:mm:ss (where HH is 0-23)

						The time zone for the date/time is GMT.
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="23"></maxLength>
						<minLength value="19"></minLength>
					</restriction>
				</simpleType>
			</element>
			<element name="receivedTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						The date and time at which the message was
						received within Caterpillar Inc. IT
						infrastructure.

						This date is in international date format (see
						ISO standard 8601) as follows:

						yyyy-MM-dd HH:mm:ss (where HH is 0-23)

						The time zone for the date/time is GMT.

					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="19"></minLength>
						<maxLength value="23"></maxLength>
					</restriction>
				</simpleType>
			</element>
			<element name="owner" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The entity owning the equipment. In nearly all
						cases this attribute will be null. The owner
						attribute was added to address a specific need
						that arose in the context of a third party data
						integration project.
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="200"></maxLength>
						<minLength value="1"></minLength>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>

	<simpleType name="ModuleTime">
		<annotation>
			<documentation>
				The date and time with which the device stamped the
				message prior to message send.

				This date is in international date format (see ISO
				standard 8601) as follows:

				yyyy-MM-dd HH:mm:ss (where HH is 0-23)

				The time zone for the date/time is GMT.
			</documentation>
		</annotation>
		<restriction base="string"></restriction>
	</simpleType>

	<simpleType name="ReceivedTime">
		<annotation>
			<documentation>
				The date and time at which the message was received
				within Caterpillar Inc. IT infrastructure.

				This date is in international date format (see ISO
				standard 8601) as follows:

				yyyy-MM-dd HH:mm:ss (where HH is 0-23)

				The time zone for the date/time is GMT.
			</documentation>
		</annotation>
		<restriction base="string"></restriction>
	</simpleType>

	<complexType name="NextBuffer">
		<sequence>
			<element name="url" type="anyURI" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>
						URL returning the next buffer of messages from
						the specified queue. The url attribute is to be
						utilized by client application code when
						navigating the contents of a queue.
					</documentation>
				</annotation>
			</element>
			<element name="moreData" minOccurs="1" maxOccurs="1"
				type="boolean">
				<annotation>
					<documentation>
						This value will be true when more messages exist
						in the queue ready for retrieval. The value will
						be false if there are no more messages available
						in the queue. Client code should iteratively
						invoke the nextBuffer url until either a 404
						exception is received (indicating there are 0 
            messages available at the specified queue
						position) or moreData is false (indicating there
						are messages in the result set but there were
						not enough messages to completely fill the
						buffer size configured for the queue. Upon
						receipt of a false value the client application
						should wait until the next scheduled service
						invocation interval to invoke the service again.
						This attribute prevents a client from issuing
						many back to back service invocations, each
						returning only a couple messages. A false return
						should prompt the client to go back to "sleep"
						or wait until the next scheduled interval before
						trying again.
					</documentation>
				</annotation>

			</element>
		</sequence>
	</complexType>
</schema>