external/VSS.BSS/UnitTests/Common.UnitTests/Test Data/Schema/v2/DigitalSwitchStatus2_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.cat.com/em/feed/v2/DigitalSwitchStatus2"
	xmlns:digitalSwitch2="http://www.cat.com/em/feed/v2/DigitalSwitchStatus2"
	xmlns:feed="http://www.cat.com/em/feed/v2/CommonFeed"
	elementFormDefault="unqualified"
	xmlns:pref="http://www.cat.com/em/feed/v2/CommonFeed">

	<import namespace="http://www.cat.com/em/feed/v2/CommonFeed" schemaLocation="CommonSchema.xsd"></import>
	
	<complexType name="Message">
		<annotation>
			<documentation>
				Delivers all relevant status information about the power mode and digital switch turned on/off on PLM module.
				Communicates the particular status information of the ECM. If any of the byte that it defines is set to "Yes", this denotes that a particular condition has occurred since last report of this status byte in either the status message or SMU report.
			</documentation>
		</annotation>
		<sequence>
			<element name="header" type="feed:TopicHeader" minOccurs="1" maxOccurs="1"/>
			<element name="powerMode" minOccurs="1" maxOccurs="1">
                <annotation>
                	<documentation>
                		Power Mode is the power mode of the module at
                		the time this status byte was constructed
                	</documentation>
                </annotation>
                <simpleType>
					<restriction base="int">
						<enumeration value="0"></enumeration>
						<enumeration value="1"></enumeration>
						<enumeration value="2"></enumeration>
						<enumeration value="3"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="pending" type="feed:YesNo" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						Any event or diagnostic alert is pending for sending
					</documentation>
				</annotation>
			</element>
			<element name="switch1Active" type="feed:YesNo" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						Digital Switch #1 Active
					</documentation>
				</annotation>
			</element>
			<element name="switch2Active" type="feed:YesNo" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						Digital Switch #2 Active
					</documentation>
				</annotation>
			</element>
			<element name="switch3Active" type="feed:YesNo" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						Digital Switch #3 Active
					</documentation>
				</annotation>
			</element>
			<element name="switch4Active" type="feed:YesNo" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						Digital Switch #4 Active
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="topic" type="digitalSwitch2:TopicBlock">
		<annotation>
			<documentation>
				Communicates the particular status information of the ECM. 
				If any of the byte that it defines is set to "Yes", this denotes that
				a particular condition has occurred since last report of this status byte
				in either the status message or SMU report.
			</documentation>
		</annotation>
	</element>

	<complexType name="TopicBlock">
		<sequence>
            <element name="nextBuffer" type="feed:NextBuffer" minOccurs="1" maxOccurs="1"/>
            <element name="message" type="digitalSwitch2:Message" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
</schema>