external/VSS.BSS/UnitTests/Common.UnitTests/Test Data/Schema/v2/ServiceMeterLocation_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.cat.com/em/feed/v2/ServiceMeterLocation"
	xmlns:smuLoc="http://www.cat.com/em/feed/v2/ServiceMeterLocation"
	xmlns:feed="http://www.cat.com/em/feed/v2/CommonFeed"
	elementFormDefault="unqualified"
	xmlns:pref="http://www.cat.com/em/feed/v2/CommonFeed">

	<import namespace="http://www.cat.com/em/feed/v2/CommonFeed" schemaLocation="CommonSchema_v2.xsd"></import>
	<complexType name="Message">
		<annotation>
			<documentation>
				Delivers the equipment usage by hours since PLM is turned on or was last reset in addition to  the latitude and longitude of the machine on which the PLM is mounted.
				Data generated by ECM to track the equipment usage. ECM tracks the time the engine is running and delivers latitude and longitude of the machine on which the PLM is mounted.
			</documentation>
		</annotation>
		<sequence>
			<element name="header" type="feed:TopicHeader" minOccurs="1" maxOccurs="1"/>
			<element name="serviceMeter" type="feed:ServiceMeter" minOccurs="0" maxOccurs="1"/>
			<element name="location" type="feed:Location" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<element name="topic" type="smuLoc:TopicBlock">
		<annotation>
			<documentation>
				The root node for the SMU Location topic.
			</documentation>
		</annotation>
	</element>

	<complexType name="TopicBlock">
		<sequence>
            <element name="nextBuffer" type="feed:NextBuffer" minOccurs="1" maxOccurs="1"/>
            <element name="message" type="smuLoc:Message" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
</schema>

http://www.cat.com/em/feed/v2/CommonFeed