external/VSS.MasterData.WebAPI/WebAPIs/Preference/Models/TopicMetadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Definitions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Topics">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Topic" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Event">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PayloadFormat" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="Name" type="xs:string" use="required" />
                        <xs:attribute name="MessageFormat" type="xs:string" use="required" />
                        <xs:attribute name="Encoding" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="DefaultKey" type="xs:string" use="required" />
                  <xs:attribute name="URL" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>