external/VSS.BSS/UnitTests/Common.UnitTests/Test Data/Schema/Fence_v6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:pref="http://www.myvisionlink.com/feed/v3/CommonFeed" elementFormDefault="unqualified" xmlns:feed="http://www.myvisionlink.com/feed/v3/CommonFeed" targetNamespace="http://www.myvisionlink.com/feed/v6/Fence" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:fence="http://www.myvisionlink.com/feed/v6/Fence">
  <import schemaLocation="CommonSchema.xsd" namespace="http://www.myvisionlink.com/feed/v3/CommonFeed"/>
  <complexType name="Message">
    <annotation>
      <documentation> Delivers all relevant status information about the time based product watch activity and alarms generated by PLM module. Communicates the particular status information of the ECM. If any of the byte that it defines is set to "Yes", this denotes that a particular condition has occurred since last report of this status byte in either the status message or SMU report. </documentation>
    </annotation>
    <sequence>
      <element name="header" maxOccurs="1" minOccurs="1" type="feed:TopicHeader"/>
      <element name="timeWatchActive" maxOccurs="1" minOccurs="1" type="feed:YesNo">
        <annotation>
          <documentation> Time-Based Product Watch Active </documentation>
        </annotation>
      </element>
      <element name="exclusiveWatchActive" maxOccurs="1" minOccurs="1" type="feed:YesNo">
        <annotation>
          <documentation> Exclusive Product Watch Active </documentation>
        </annotation>
      </element>
      <element name="inclusiveWatchActive" maxOccurs="1" minOccurs="1" type="feed:YesNo">
        <annotation>
          <documentation> Inclusive Product Watch Active </documentation>
        </annotation>
      </element>
      <element name="timeWatchAlarm" maxOccurs="1" minOccurs="1" type="feed:YesNo">
        <annotation>
          <documentation> Time-Based Product Watch Alarm </documentation>
        </annotation>
      </element>
      <element name="exclusiveWatchAlarm" maxOccurs="1" minOccurs="1" type="feed:YesNo">
        <annotation>
          <documentation> Exclusive Product Watch Alarm </documentation>
        </annotation>
      </element>
      <element name="inclusiveWatchAlarm" maxOccurs="1" minOccurs="1" type="feed:YesNo">
        <annotation>
          <documentation> Inclusive Product Watch Alarm </documentation>
        </annotation>
      </element>
      <element name="satelliteBlockage" maxOccurs="1" minOccurs="0" type="feed:YesNo">
        <annotation>
          <documentation>Satellite Blockage</documentation>
        </annotation>
      </element>
      <element name="disconnectSwitchUsed" maxOccurs="1" minOccurs="0" type="feed:YesNo">
        <annotation>
          <documentation> Disconnect Switch Used </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType> <element name="topic" type="fence:TopicBlock">
    <annotation>
      <documentation> Communicates the particular status information of the ECM. If any of the byte that it defines is set to "Yes", this denotes that a particular condition has occurred since last report of this status byte in either the status message or SMU report. </documentation>
    </annotation>
  </element> <complexType name="TopicBlock">
    <sequence>
      <element name="nextBuffer" maxOccurs="1" minOccurs="1" type="feed:NextBuffer"/>
      <element name="message" maxOccurs="unbounded" minOccurs="1" type="fence:Message"/>
    </sequence>
  </complexType> <complexType name="FenceHeader">
    <sequence>
      <element name="id" maxOccurs="1" minOccurs="1" type="long"> </element> <element name="changeHistory" maxOccurs="1" minOccurs="1" type="fence:ChangeHistory"> </element> <element name="equipment" maxOccurs="1" minOccurs="1" type="fence:FenceEquipment"> </element> <element name="sequenceNumber" maxOccurs="1" minOccurs="1" type="int"> </element> <element name="active" maxOccurs="1" minOccurs="1" type="feed:YesNo"> </element> <element name="description" maxOccurs="1" minOccurs="0" type="string"> </element> <element name="acknowledged" maxOccurs="1" minOccurs="1" type="feed:YesNo"> </element> <element name="effectivity" maxOccurs="1" minOccurs="0" type="fence:EffectiveTime"> </element> <element name="type" maxOccurs="1" minOccurs="1">
        <simpleType>
          <restriction base="string">
            <enumeration value="I"/>
            <enumeration value="E"/>
            <enumeration value="T"/>
          </restriction>
        </simpleType>
      </element>
    </sequence>
  </complexType> <complexType name="ChangeHistory">
    <sequence>
      <element name="userId" maxOccurs="1" minOccurs="1" type="string"/>
      <element name="date" maxOccurs="1" minOccurs="1" type="string"/>
    </sequence>
  </complexType> <complexType name="FenceEquipment">
    <sequence>
      <element name="serialNumber" type="string"/>
      <element name="make" type="string"/>
    </sequence>
  </complexType> <complexType name="TimeFence">
    <sequence>
      <element name="header" maxOccurs="1" minOccurs="1" type="fence:FenceHeader"/>
      <element name="allowed" maxOccurs="1" minOccurs="1" type="fence:TimeAllowed"/>
    </sequence>
  </complexType> <complexType name="EffectiveTime">
    <sequence>
      <element name="begin" type="string"/>
      <element name="end" type="string"/>
    </sequence>
  </complexType> <complexType name="TimeAllowed">
    <sequence>
      <element name="sun" maxOccurs="1" minOccurs="0" type="feed:YesNo"> </element>
      <element name="mon" maxOccurs="1" minOccurs="0" type="feed:YesNo"> </element>
      <element name="tue" maxOccurs="1" minOccurs="0" type="feed:YesNo"> </element>
      <element name="wed" maxOccurs="1" minOccurs="0" type="feed:YesNo"> </element>
      <element name="thu" maxOccurs="1" minOccurs="0" type="feed:YesNo"> </element>
      <element name="fri" maxOccurs="1" minOccurs="0" type="feed:YesNo"> </element>
      <element name="sat" maxOccurs="1" minOccurs="0" type="feed:YesNo"> </element>
    </sequence>
  </complexType> <complexType name="TimeFenceTopic">
    <sequence>
      <element name="nextBuffer" maxOccurs="1" minOccurs="1" type="feed:NextBuffer"/>
      <element name="timeFences" maxOccurs="1" minOccurs="1" type="fence:TimeFenceBlock"> </element>
    </sequence>
  </complexType> <element name="timeFenceConfig" type="fence:TimeFenceTopic"/> <complexType name="GeoFence">
    <sequence>
      <element name="header" maxOccurs="1" minOccurs="1" type="fence:FenceHeader"/>
      <element name="center" maxOccurs="1" minOccurs="1" type="fence:FenceLocation"/>
      <element name="radius" maxOccurs="1" minOccurs="1" type="fence:FenceRadius"/>
    </sequence>
  </complexType> <complexType name="FenceLocation">
    <sequence>
      <element name="latitude" maxOccurs="1" minOccurs="1" type="double"/>
      <element name="longitude" maxOccurs="1" minOccurs="1" type="double"/>
    </sequence>
  </complexType> <complexType name="FenceRadius">
    <sequence>
      <element name="distance" maxOccurs="1" minOccurs="1" type="double"/>
      <element name="uom" maxOccurs="1" minOccurs="1" type="feed:UnitOfMeasure"/>
    </sequence>
  </complexType> <complexType name="GeoFenceTopic">
    <sequence>
      <element name="nextBuffer" maxOccurs="1" minOccurs="1" type="feed:NextBuffer"/>
      <element name="geoFences" maxOccurs="1" minOccurs="1" type="fence:GeoFenceBlock"> </element>
    </sequence>
  </complexType> <element name="geoFenceConfig" type="fence:GeoFenceTopic"/> <complexType name="GeoFenceBlock">
    <sequence>
      <element name="geoFence" maxOccurs="unbounded" minOccurs="0" type="fence:GeoFence"/>
    </sequence>
  </complexType> <complexType name="TimeFenceBlock">
    <sequence>
      <element name="timeFence" maxOccurs="unbounded" minOccurs="0" type="fence:TimeFence"/>
    </sequence>
  </complexType>
</schema>